/**
 * Place your custom styles here.
 */
 
.container {
    width: 1300px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    height: 70px;
}


 .page-header, h1, .h1 {
 font-family: Microsoft JhengHei;
   font-size: 46px;  
   color: #0067D5;
}

.navbar .logo {
margin-top: -1px;
}

/*導航列字體尺寸*/
.nav a{
  font-family: inherit;
  font-size: 14px; 
 }

/*導航列預設字體顏色*/
.navbar-default .navbar-nav > li > a {
    color: #000;
    margin-top: 6px;
}


/*下拉目錄背景*/
.dropdown-menu {
    background: linear-gradient(to right, rgba(36,139,224,1) 0%,rgba(0,183,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid #b8ebf6;
}

/*導航列預設顏色*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #f8f8f8;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
}
/*導航列滑過顏色*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #b20303;
    border: 1px solid #fff;
    border-radius: 4px;
}

/*導航列展開滑過顏色*/
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #FFF;
  box-shadow: 0 4px 8px 0 #8affef,0px 6px 10px 1px #114763;
  background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(45,136,226,1) 51%,rgba(85,194,244,1) 83%,rgba(19,211,249,1) 100%);
  border: 1px solid #95ecff;
  border-radius: 4px;
  text-shadow: 1px 2px 3px rgba(153, 227, 244, 0.8);
}

/*導航列點選後顏色*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover  {
    color: #000;
    background: #fff;
}

/*導航列下拉後字體顏色*/
.dropdown-menu > li > a {
    color: #e4e2e2;
}

/*導航列顏色*/
.navbar-default {
    border-color: #3e3f3f;
    opacity: 0.97;
    background: #fff;
    height: 60px;
}

.navbar-inverse {
    background-color: #000;
}

ul.secondary {
    display: none;
}


.frontimg {
#margin-left: calc(48% - 48vw);
#margin-right: calc(48% - 48vw);
width: 99.5vw;
position: relative;
margin-left: -50vw;
left: 50%;
  background-color: #000;
}

#block-block-1  {
margin-top: -60px;
}

#block-block-2  {
margin-top: -20px;
}

#block-views-awardsscrol-block {
    background: #0b4a6b url(/sites/default/files/awardlock.jpg) no-repeat center center;
    border-radius: 8px;
    height: 405px;
    margin-top: 10px;
   border: 3px solid #fff;
  box-shadow: 0 10px 30px rgba(38, 38, 38, 0.4);
}


/*全站字體樣式及尺寸*/
body, h3, .h3 ,h4, .h4, h5, .h5, h6, .h6 {
  font-family: "微軟正黑體","Microsoft YaHei","Open Sans",Arial,"Microsoft JhengHei","微軟雅黑體","LiHei Pro","儷黑 Pro",sans-serif;
}

body {
   font-size: 16px;
   font-family: "微軟正黑體","Microsoft YaHei","Open Sans",Arial,"Microsoft JhengHei","微軟雅黑體","LiHei Pro","儷黑 Pro",sans-serif;
}

body {
color: #4e4343;
# background: #fff url(/sites/default/files/bg2.jpg) no-repeat center center fixed; 
 background: #fff;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/*menu*/
.menu1 { width:107%;}
.menu1 li { display:block; width:155px; height:50px; background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ float:left; text-align:center; font-family:"Microsoft JhengHei"; font-size:22px; font-weight:bold; line-height:50px; border-right: #1a1a1a 1px solid}
.menu1 li a {display:block; width:155px; height:50px; }
.menu1 li a:hover {display:block; width:155px; height:50px; background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); }

.menu2 { width:107%;}
.menu2 li { width:155px; height:50px; background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ float:left; text-align:center; font-family:"Microsoft JhengHei"; font-size:22px; font-weight:bold; line-height:50px; border-right: #1a1a1a 1px solid}
.menu2 li a {display:block; width:155px; height:50px; }
.menu2 li a:hover {display:block; width:155px; height:50px; background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); }
.menu .radius-top-left, .menu .radius-top-left a {
-webkit-border-top-left-radius: 8px;
-moz-border-radius-topleft: 8px;
border-top-left-radius: 8px;
}
.menu .radius-top-right, .menu .radius-top-right a {
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topright: 8px;
border-top-right-radius: 8px;
}
.menu .radius-bottom-left, .menu .radius-bottom-left a {
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-left-radius: 8px;
}
.menu .radius-bottom-right, .menu .radius-bottom-right a {
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-bottomright: 8px;
border-bottom-right-radius: 8px;
}

/*移除列表黑點*/
ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; 
}

/*超連結不加底線字體顏色*/
a:hover {
  text-decoration:none;
  color:#980400;
}

a {
    color: #000;
    text-decoration: none;
}

/*頁首幻燈片*/
.flexslider {
    background: transparent;
  border: 1px solid transparent;
}

.flex-control-paging li a.flex-active {
    background: rgba(255, 255, 255, 0.9);
    margin-top: -65px;
    }


.img-thumbnail {
border: 2px solid #bababa;
margin-top: 11px;
  box-shadow: 0 10px 30px rgba(38,38,38,0.2);
}

.flexslider .slides img {
    border-radius: 10px;
  border: 0px solid #000;
}

.flex-direction-nav a::before {
    color: rgba(255, 255, 255, 0.8);
}

/*well欄背景顏色*/
.well {
    margin-top: -45px;
    margin-bottom: 20px;
    border: 1px solid #1b1b1b;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 4px 8px 0 #545657,0 6px 20px 0 #3c3737;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgba(255,255,255,0) 40%);
}


/*歷年獎項及營登*/
.awardtitle {
    font-weight: bold;
    font-size: 20px;
    padding: 5px 18px 0px 8px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 60px;
  color: #000;
}

.awardimgend {
height: 218px;
align-items: center;
justify-content: center;
display: flex;
}

.datatime  {
 color: #fa0202;
font-weight: bold;
font-size: 20px;
text-align: center;
  margin-top: -8px;
}
.thumbnail {
#background: url(/sites/default/files/part.jpg) no-repeat center center fixed; 
#  background: linear-gradient(to bottom, #ffffff 50%,#f4fdff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
#  border: 1px solid #8c8e8e;
  box-shadow: 0 10px 30px rgba(38, 38, 38, 0.2);
border-radius: 8px;
}

.thisboxheight {
    text-align: center;
    height: 34px;
    font-size: 33px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
  letter-spacing: 13px;
  margin-bottom: -10px;
}

.partserimg {
      margin-bottom: -48px;
}

.thisboxheight2 {
    height: 55px;
text-overflow: ellipsis;
overflow: hidden;
margin-bottom: -8px;
font-size: 17px;
letter-spacing: 0.1px;
}

.thisboxheight13 {
    height: 67px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -8px;
  margin-top: -15px;
}


.thisboxheight3 {
    width: 90px;
#margin-left: 38%;
margin-bottom: -10px;
margin-top: 12px;
text-align: center;
font-size: 18px;
border: 1px solid #d30808;
border-radius: 19px;
background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
box-shadow: 0 10px 30px rgba(38,38,38,0.2);
font-weight: bold;
}

.thisboxheight3 a {
   color: #fff;
   text-decoration: none;
  background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
}

.thisboxheight3 a:hover {
   color: #000;
   text-decoration: none;
}

.thisboxheight4{
height: 91px;
text-overflow: ellipsis;
overflow: hidden;
  margin-top: -15px;
  margin-bottom: -8px;
}

#.thisboxheight5 {
#height: 91px;
#text-overflow: ellipsis;
#overflow: hidden;
#  margin-top: -15px;
#  margin-bottom: -8px;
#}

.thisboxheight5 {
height: 91px;
text-overflow: ellipsis;
overflow: hidden;
}

/*徵信相關新聞標題*/
.thisboxheight6 {
font-weight: bold;
font-size: 18px;
height: 47px;
text-overflow: ellipsis;
overflow: hidden;
color: #0097a7;
  margin-bottom: -20px;
}

/*公益活動標題*/
.thisboxheight7 {
font-weight: bold;
font-size: 18px;
height: 47px;
text-overflow: ellipsis;
overflow: hidden;
color: #0097a7;
}


.thisboxheight8 {
height: 60px;
text-overflow: ellipsis;
overflow: hidden;
font-size: 18px;
font-weight: bold;
color:#000;
  margin-bottom: -30px;
}

/*抓姦新聞標題*/
.thisboxheight11 {
font-weight: bold;
font-size: 18px;
height: 47px;
text-overflow: ellipsis;
overflow: hidden;
color: #0097a7;
  margin-bottom: -15px;
}

/*一統徵信影片*/
.thisboxheight12 {
font-weight: bold;
font-size: 18px;
height: 47px;
text-overflow: ellipsis;
overflow: hidden;
color: #0097a7;
margin-top: -15px;
}

.thisboxheight14{
height: 389px;
text-overflow: ellipsis;
overflow: hidden;
  margin-top: -15px;
  margin-bottom: -8px;
}

.thisboxheight15 {
    width: 90px;
    margin-bottom: -5px;
    margin-top: 35px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #d30808;
border-radius: 19px;
background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
box-shadow: 0 10px 30px rgba(38,38,38,0.2); font-weight: bold;
}

.thisboxheight15 a {
 color: #fff;
}

.thisboxheight16 {
  height: 91px;
text-overflow: ellipsis;
overflow: hidden;
margin-bottom: -20px;
}

.thisboxheight17 {
text-overflow: ellipsis;
overflow: hidden;
color: #0097a7;
  margin-bottom: -15px;
}

.more-link {
border: 1px solid #d30808;
border-radius: 19px;
width: 90px;
margin-left: 46.6%;
margin-bottom: -10px;
background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
height: 35px;
text-align: center;
  box-shadow: 0 10px 30px rgba(38, 38, 38, 0.2);
  font-size: 19px;
  margin-top: -3px;
  font-weight: bold;
}

.more-link a {
   color: #fff;
}

.more-link a:hover {
# box-shadow: 0 4px 8px 0 #b0cb48,0 0px 10px 0 #9abf35;
   color: #000;
   text-decoration: none;
}

.menu3 {
margin-right: -420px;
background: url(/sites/default/files/bar.png) no-repeat center center;
border-radius: 6px;
}

.menu4 {
    margin-top: 2px;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid 
    #020202;
    border-radius: 4px;
}

.menu5 {
    margin-top: -45px;
margin-bottom: 55px;
display: flex;
align-items: center;
justify-content: center;
}

.menu6 {
    margin-top: -60px;
margin-bottom: 40px;
font-size: 20px;
margin-left: 900px;
}

.menu7 {
margin-bottom: -25px;
margin-top: -20px;
background: #000;
width: 99.5vw;
position: relative;
margin-left: -50vw;
left: 50%;
}

.menubar {
   margin-top: 35px;
   margin-bottom: 5px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #e1e1e1;
border-radius: 19px;
box-shadow: 0 4px 30px rgba(38,38,38,0.2);
width: 29%;
margin-left: 35.5%;
background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  letter-spacing: 4px;
}


.gmap-popup a {
color: #ce02ff;
font-size: 18px;
font-weight: bold;
font-family: "微軟正黑體","Microsoft YaHei","Open Sans",Arial,"Microsoft JhengHei","微軟雅黑體","LiHei Pro","儷黑 Pro",sans-serif;
}

/*map自適應*/
img[usemap] {
		border: none;
		height: auto;
		max-width: 100%;
		width: auto;
  border-radius: 4px;
border: 1px solid #8c8e8e;
	}
	
.mapimg {
    margin-top: 2px;
    margin-left: 0px;
    margin-right: -15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  box-shadow: 0 10px 30px rgba(38,38,38,0.2);
}

/* Flashing */
.thisboxheightimg:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.thisboxheight9:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.thisboxheight10 {
    text-align: center;
    height: 29px;
    font-size: 24px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: -25px;
    color: #42f4eb;
}


/* footer */
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.bg-lightgray {
    font-size: 18px;
    margin-bottom: -54px;
 background: linear-gradient(to bottom, #fff 0%,#f6f6f6 47%, #d9d9d9 100%);
height: 90px;
  border: 2px solid #f2f2f2;
  width: 99vw;
position: relative;
margin-left: -50vw;
left: 50%;
}

.footer {
    border-top: 0px solid #E5E5E5;
}

#block-block-7 {
    float: right;
    top: 0;
    z-index: 100;
    position: fixed;
    margin-top: 280px;
    margin-left: 1300px;
    color: #c52225;
}

.appeal {
display: flex;
align-items: center;
justify-content: center;
}

.linezone a {
color: #ff4343;
font-size: 22px;
margin-bottom: 10px;
}

#views-bootstrap-grid-1 {
    text-align: center;
}

#block-views-service-block {
   margin-top: -110px;
}

.parttitle  {
    font-size: 22px;
    text-align: center;
}

.fa {
 color: #fff;
}

.thumbnail a > img, .thumbnail > img {
    margin-right: auto;
    margin-left: auto;
    height: 180px;
}

.h3, h3 {
    font-size: 18px;
}