/**
 * Place your custom styles here.
 */
.navbar-header{
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(53,53,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid #545454;
}
 
.navbar .logo {
    margin-top: -6px;
    margin-bottom: -25px;
}

 
 /*導航列字體尺寸*/
.nav a{
  font-family: inherit;
  font-size: 18px; 
 }


body {
color: #fff;
background: #000 url(/sites/default/files/bg2.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family:"微軟正黑體","Microsoft YaHei","Open Sans",Arial,"Microsoft JhengHei","微軟雅黑體","LiHei Pro","儷黑 Pro",sans-serif;
font-size:23px;
font-style:normal;
font-weight:normal;
overflow-x: auto;  
    -webkit-overflow-scrolling: touch;
}

/*全站字體樣式及尺寸*/
body, h1, .h1, h3, .h3 ,h4, .h4, h5, .h5, h6, .h6 {
  font-family: "微軟正黑體","Microsoft YaHei","Open Sans",Arial,"Microsoft JhengHei","微軟雅黑體","LiHei Pro","儷黑 Pro",sans-serif;
}

/*超連結不加底線字體顏色*/
a:hover {
  text-decoration:none;
  color:#fb4d0d;
}
a {
    color: #fff;
}

/*h1字體尺寸*/
h1, .h1 {
    font-size: 29px;
}

/*h2字體顏色*/
.h2, h2 {
    font-weight: bold;
border-radius: 8px;
width: 100%;
border: 1px solid #737373;
color: #fff000;
text-align: center;
text-shadow: 1px 2px 3px rgba(17, 15, 15, 0.8);
margin-top: -1px;
background: linear-gradient(to bottom, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*h1~h2字體角度*/
h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 6px;
}

/*導航列預設字體顏色*/
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.menu5 {
    margin-top: -85px;
    font-size: 18px;
    margin-left: -13px;
    margin-right: -12px;
}

.menu6 {
    font-size: 20px;
}

.menu7 {
    margin-bottom: 15px;
    margin-top: -10px;
    margin-left: -15px;
  margin-right: -15px;
}

/*手機版幻燈片全寬*/
.frontimg {
    margin-right: -19px;
    margin-left: -19px;
    margin-top: -16px;
    margin-bottom: -5px;
}
/* footer */
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.bg-lightgray
{
    background-color:#000;
    font-size: 18px;
    margin-bottom: 100px;
    
}

.footer {
    border-top: 0px solid #E5E5E5;
}

.collapse-text-text {
    color: #fff;
background: #000;
}

fieldset .panel-heading a.panel-title {
   color: #fff;
   border-radius: 8px;
   font-size: 22px;
   text-align: center;
   background: linear-gradient(to bottom, rgba(255,175,75,1) 0%,rgba(252,63,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   border: 1px solid #0c3f5e;
   margin-bottom: 10px;
   text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}

.panel-body {
    background: #000;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    margin-left: -15px;
    margin-right: -15px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #000;
    border-color: #000;
}

.panel-default {
    border-color: #000;
}

.ihe-overlay::after {
    font-size: 1.6em;
}
.partimg {
    border: 3px solid #f0eded;
    margin-bottom: -65px;
    margin-right: 3px;
    margin-left: 3px;
}

/*歷年獎項及營登*/
.awardtitle {
    font-weight: bold;
    font-size: 23px;
    padding: 0px 18px 0px 8px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.awardimgend {
   height: 218px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*移除列表黑點*/
ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; 
}

/*公益活動標題*/
.thisboxheight7 a{
font-weight: bold;
font-size: 20px;
height: 45px;
text-overflow: ellipsis;
overflow: hidden;
color: #fff700;
}

.thisboxheight4 {
    height: 85px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 21px;
    font-weight: bold;
    margin-right: -7px;
    margin-left: -18px;
    margin-top: -6px;
  color: #fff700;
}

.thumbnail {
    background: url(/sites/default/files/part.jpg) no-repeat center center fixed;
    margin-bottom: 5px;
}


.thisboxheightimg {
    margin-bottom: 15px;
    border: 2px solid #373737;
    border-radius: 6px;
  margin-right: 5px;
}

.thisboxheight9 {
    margin-bottom: 15px;
    border: 2px solid #373737;
    border-radius: 6px;
  margin-right: 5px;
}


.slick-arrow::before {
    color: #fd5911;
    font-size: 3.25rem;
}

.more-link {
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 1290px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.navbar-nav {
    background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    margin-top: -7px;
    margin-bottom: -7px;
}

#block-block-6 {
z-index: 100;
padding: 2px 32px 2px 32px;
background: linear-gradient(to bottom, rgb(111, 114, 118) 10%,rgba(0,0,0,1) 90%);
border-radius: 8px;
margin-bottom: -40px;
margin-right: -17px;
margin-left: -17px;
margin-top: -35px;
text-align: center;
border: 2px solid #b9b9b9;
}

.footer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  padding-top: 0px;
}

@media only screen and (max-width: 390px) {
#block-block-6 {
font-size: 18px;
}
} 

@media (max-width: 400px) {
.navbar .logo {
    margin-right: -15px;
    padding-left: 1px;
    padding-right: 1px;
}
}

@media (max-width: 400px) {
.thumbnail {
    background: #450d0d;
    }
}

.datatime {
    color: #fa9fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}


@media (max-width: 400px)  {
#block-block-6 {
padding: 2px 32px 2px 32px;
font-size: 14px;
margin-top: 0px;
}
} 

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #8affef;
}

.lineimg {
    width: 50%;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.linezone a {
    color: #ff4343;
font-size: 22px;
margin-bottom: 10px;
margin-left: 45%;
}



#block-views-mobile-of-allservice-block  {
   top:-90px;
}

.thisboxheight-1 {
    text-align: center;
    height: 33px;
    font-size: 24px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: -31px;
    color: #42f4eb;
}

.thisboxheight2 {
    height: 59px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -8px;
}

.thisboxheight5 {
height: 95px;
text-overflow: ellipsis;
overflow: hidden;
}

/*徵信相關新聞標題*/
.thisboxheight6 a{
height: 85px;
text-overflow: ellipsis;
overflow: hidden;
font-size: 21px;
font-weight: bold;
margin-right: -7px;
margin-left: -18px;
margin-top: -6px;
color: #fff700;
}

/*服務項目*/
.parttitle  {
    text-align: center;
}